<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Play Anywhere Bingo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDF56D5B1D63826F00905B89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDF56D721D63826F00905B89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDF56D7D1D63826F00905B89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
